AddType text/cache-manifest .appcache
ExpiresActive On
ExpiresDefault "access"

DirectoryIndex index.php index.htm _maintenance.htm

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]